@model object

@{
    ViewBag.Title = "title";
}

<h1>Viia App mock until it's ready for use</h1>

<button class="btn btn-success" onclick="window.location.href = '@Url.Action("LoginCallback", "Viia")'">Skip Viia Flow</button>