@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">
    Aiia Demo App
</h1>
<p class="text-center">
    This app is an example of how you can use Aiia to serve financial information to your customer.
</p>

<section class="jumbotron text-center">
    <p>Start by logging in and connecting accounts.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary btn-lg"
           asp-area=""
           asp-controller="Account"
           asp-action="Accounts">
            Start
        </a>
    }
</section>