@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container ">
        <h1 class="jumbotron-heading">
            Viia Demo App
        </h1>
        <p class="lead text-muted">
            This app is an example of how you can use Viia to serve financial information to your customer.
        </p>
    
        <hr class="my-4">
        
        <p>Start by logging in and connecting accounts.</p>

        <a class="btn btn-outline-primary btn-lg" 
            asp-area="" 
            asp-controller="Viia" 
            asp-action="Accounts">Start
        </a>
                               
    </div>                

</section>