@model Aiia.Sample.Models.CreatePaymentViewModel

@{
    ViewBag.Title = "Payments V2";
    Layout = "_Layout";
}



@if (Model?.Accounts?.Count != 0)
{
    <div class="row justify-content-md-center">
        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-source">Source Account</label>
            </div>
            <select class="custom-select" id="payment-source">
                @foreach (var account in Model.Accounts)
                {
                    <option value="@account.Id">@account.Name (@(account?.Number.Iban ?? account?.Number.Bban ?? "Unknown account number"))</option>
                }
            </select>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-method">Payment Method</label>
            </div>
            <select class="custom-select" id="payment-method">
                <option value="Domestic">Domestic</option>
                <option value="SEPA">SEPA</option>
                <option value="InpaymentForm">InpaymentForm</option>
            </select>
        </div>

        <div class="input-group mb-3 mt-4" id="destination-type-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-target-type">Destination type</label>
            </div>
            <select class="custom-select" id="payment-target-type">
                <option value="iban">IBAN</option>
                <option value="bban">BBAN</option>
            </select>
        </div>

        <div class="input-group mb-3 mt-4" id="payment-iban-input-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-target-iban">Destination IBAN</label>
            </div>
            <input class="form-control" id="payment-target-iban" type="text" placeholder="DK5001234567890123"/>
        </div>

        <div class="input-group mb-3 mt-4" id="payment-bban-bank-input-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-target-bban-bank">Destination BBAN Bank identifier</label>
            </div>
            <input class="form-control" id="payment-target-bban-bank" type="text" placeholder="0040"/>
        </div>

        <div class="input-group mb-3 mt-4" id="payment-bban-account-input-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-target-bban-account">Destination BBAN Account identifier</label>
            </div>
            <input class="form-control" id="payment-target-bban-account" type="text" placeholder="012345678901"/>
        </div>

        <div class="input-group mb-3 mt-4" id="in-payment-form-type-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inpayment-form-type">InpaymentFormType</label>
            </div>
            <select class="custom-select" id="inpayment-form-type">
                <option value="SE_PGNR">SE_PGNR</option>
                <option value="SE_BGNR">SE_BGNR</option>
                <option value="DK_G01">DK_G01</option>
                <option value="DK_G04">DK_G04</option>
                <option value="DK_G15">DK_G15</option>
                <option value="DK_FI71">DK_FI71</option>
                <option value="DK_FI73">DK_FI73</option>
                <option value="DK_FI75">DK_FI75</option>
            </select>
        </div>

        <div class="input-group mb-3 mt-4" id="inpayment-form-creditor-number-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inpayment-form-creditor-number">Creditor Number</label>
            </div>
            <input class="form-control" id="inpayment-form-creditor-number" type="text" placeholder="51965770"/>
        </div>

        <div class="input-group mb-3 mt-4" id="inpayment-form-ocr-container">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inpayment-form-ocr">OCR</label>
            </div>
            <input class="form-control" id="inpayment-form-ocr" type="text" placeholder=""/>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-target-name">Destination account owner's name</label>
            </div>
            <input class="form-control" id="payment-target-name" type="text" placeholder="John Smith"/>
        </div>

        <div class="input-group" id="address-fields-container">
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment-address-street">Destination address street</label>
                </div>
                <input class="form-control" id="payment-address-street" type="text" placeholder="Street Name"/>
            </div>
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment-address-building">Destination address building number</label>
                </div>
                <input class="form-control" id="payment-address-building" type="text" placeholder="Building Number"/>
            </div>
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment-address-postal">Destination address postal code</label>
                </div>
                <input class="form-control" id="payment-address-postal" type="text" placeholder="Postal Code"/>
            </div>
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment-address-city">Destination address city</label>
                </div>
                <input class="form-control" id="payment-address-city" type="text" placeholder="City"/>
            </div>
            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="payment-address-country">Destination address country code</label>
                </div>
                <input class="form-control" id="payment-address-country" type="text" placeholder="Country"/>
            </div>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-amount">Amount</label>
            </div>
            <input class="form-control" id="payment-amount" type="number" placeholder="100"/>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-currency">Currency</label>
            </div>
            <input class="form-control" id="payment-currency" type="text" placeholder="EUR"/>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-message">Message</label>
            </div>
            <input class="form-control" id="payment-message" type="text" placeholder=""/>
        </div>

        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="payment-transaction-text">Transaction text</label>
            </div>
            <input class="form-control" id="payment-transaction-text" type="text" placeholder=""/>
        </div>

        <button class="btn btn-primary" style="margin-top: 1rem; white-space: normal; width: 100%;" onclick="sendRequestToCreatePayment()">Create payment</button>
    </div>
}
else
{
    <div class="row justify-content-md-center">
        <h2>It is required to have non one-time account connected to be able to create payments.</h2>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function() {
            toggleCorrectDestinationInput();
        });

        $('#payment-target-type').change(function() {
            toggleCorrectDestinationInput();
        });

        $('#payment-method').change(function() {
            toggleCorrectDestinationInput();
        });
        
        $('#payment-type').change(function() {
            const paymentType = $('#payment-type').val();
            if (paymentType === 'scheduled') {
                $('#payment-scheduled-input-container').show();
            }
        });

        function toggleCorrectDestinationInput() {
            const ibanInputContainer = $('#payment-iban-input-container');
            const bbanBankInputeContainer = $('#payment-bban-bank-input-container');
            const bbanAccountInputeContainer = $('#payment-bban-account-input-container');
            const typeContainer = $('#in-payment-form-type-container');
            const creditorNumberContainer = $('#inpayment-form-creditor-number-container');
            const ocrContainer = $('#inpayment-form-ocr-container');
            const destinationTypeContainer = $('#destination-type-container');
            const addressContainer = $('#address-fields-container');
            
            destinationTypeContainer.hide();
            ibanInputContainer.hide();
            bbanBankInputeContainer.hide();
            bbanAccountInputeContainer.hide();
            typeContainer.hide();
            creditorNumberContainer.hide();
            ocrContainer.hide();
            addressContainer.hide();

            const paymentMethod = $('#payment-method').val();
            const destinationType = $('#payment-target-type').val();

            if (paymentMethod === "SEPA")
                addressContainer.show();

            if (paymentMethod === "InpaymentForm") {
                typeContainer.show();
                creditorNumberContainer.show();
                ocrContainer.show();
            }
            else {
                destinationTypeContainer.show();
                if (destinationType === 'iban') {
                    ibanInputContainer.show();
                } else {
                    bbanBankInputeContainer.show();
                    bbanAccountInputeContainer.show();
                }
            }
        }
        
        function sendRequestToCreatePayment() {

            const body = {
                sourceAccountId: $('#payment-source').val(),
                Iban: $('#payment-target-iban').val(),
                BbanBankCode: $('#payment-target-bban-bank').val(),
                bbanAccountNumber: $('#payment-target-bban-account').val(),
                Amount: parseFloat($('#payment-amount').val()),
                Currency: $('#payment-currency').val(),
                message: $('#payment-message').val(),
                transactionText: $('#payment-transaction-text').val(),
                RecipientFullname: $('#payment-target-name').val(),
                PaymentMethod: $('#payment-method').val(),
                InpaymentFormType: $('#inpayment-form-type').val(),
                InpaymentFormCreditorNumber: $('#inpayment-form-creditor-number').val(),
                Ocr: $('#inpayment-form-ocr').val(),                
                AddressStreet: $('#payment-address-street').val(),
                AddressBuildingNumber: $('#payment-address-building').val(),
                AddressPostalCode: $('#payment-address-postal').val(),
                AddressCity: $('#payment-address-city').val(),
                AddressCountry: $('#payment-address-country').val(),                
            };
            $.ajax({
                url: '/v2/aiia/payments/create',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(body),
                success: function(data) {
                    if (data.errorDescription) {
                        alert(`Failed:\n${data.errorDescription}`);
                    } else {
                        alert(`Success! Payment Id: ${data.paymentId}`);
                        window.location.href = "/v2/aiia/payments";
                    }
                },
                error: function(data) {
                    alert('Request failed');
                }
            });
        }
    </script>
}