/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.account-container {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.account-container:hover {
  background-color: rgb(220,220,220);
}

.account-container label {
  margin: 0;
}

.active-connection {
  opacity: 0.4;
}

.connection-wrapper .active-connection:hover {
  border-color: transparent;
}
.grey-text {
  color: rgb(160, 160, 160);
}

.detail-card {
  margin: 1rem;
}