@model Aiia.Sample.Models.V2.PaymentAuthorizationCallbackViewModel

@{
    ViewBag.Title = "Complete";
}

@if (Model.IsError)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Aiia payment flow error</h5>
            <p>This is the configured payment authorization callback url that Aiia redirects to after going through the Aiia payment authorization flow.</p>
            <p>
                In this case, this is an error scenario, because
                <b>
                    <i>authorizationId</i>
                </b>
                was not provided in the query of this callback url, which means that an error happened in the flow or it was cancelled by end-user
            </p>
            <button class="btn btn-primary" onclick="backToPaymentsV2()">Back to payments V2</button>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Aiia payment flow complete</h5>
            <p class="card-text">This is the configured payment authorization callback url that Aiia redirects to after going through the Aiia payment authorization flow.</p>
            <p>In the success scenario, there's an 'authorizationId' query parameter provided. e.g., current query: </p>
            <pre>@Model.Query</pre>
            <p>This authorizationId can be used to retrieve the authorization later to see its details and/or status.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="OutboundPayment" asp-action="Payments">Back to inbound payments</a>
        </div>
    </div>
}

